@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

table caption {
  margin-bottom: 20px;
}

tr,
th,
td {
  border: 1px solid #dadada;
  padding: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form div input {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
}

form textarea {
  padding: 10px;
  outline: none;
}

form button {
  padding: 10px;
  border-radius: 4px;
  background-color: blueviolet;
  color: white;
  border: none;
  font-size: 16px;
}
